$proxima-nova(name, weight, style)
    font-family ProximaNova
    src url(unquote('../fonts/proxima-nova/proximanova-' + unquote(name) + '-webfont.woff')) format('woff')
    font-weight weight
    font-style style

@font-face
    $proxima-nova('bold', bold, normal)
    
@font-face
    $proxima-nova('semibold', 500, normal)
    
@font-face
    $proxima-nova('light', 200, normal)
    
@font-face
    $proxima-nova('thin', 100, normal)
    
@font-face
    $proxima-nova('regular', normal, normal)

@font-face
    $proxima-nova('regularitalic', normal, italic)