doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Wooder
		link(rel='stylesheet', href='css/style.css')
		script(src='js/sizzle.js')
	body
		div#left-bg
		div#right-bg
		div#wrapper
			include ./templates/top.html
			include ./templates/info.html
			include ./templates/video.html
			include ./templates/about-us.html
			include ./templates/footer.html
		script(src='js/index.js')