<div class="about-us">
	<div class="inner">
		<div class="letter parallax-horizontal right-left no-opacity">A</div>
		<div class="mid">
			<div class="image scroll-animate fade left-right"></div>
			<div class="text scroll-animate-list">
				<div class="h2 scroll-animate-item fade right-left">about us</div>
				<div class="p scroll-animate-item fade right-left">We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class</div>
				<div class="mini-button scroll-animate-item fade right-left">
					<div class="click">
						learn more
						<svg width="35" height="7">
							<polyline points="30 7,34 3.5,30 0" fill="none" stroke-width="1"/>
							<polyline points="0 3.5,34.5 3.5" class="shape-rendering-clip-edges" stroke-width="1" />
						</svg>
					</div>
				</div>
			</div>
			<div class="textFull parallax">about us</div>
		</div>
	</div>
</div>