<div class="info" id="info">
	<div class="top-line"></div>
	<div class="furniture scroll-animate">
		<div class="letter parallax-horizontal right-left">F</div>
		<div class="inner">
			<div class="mid">
				<div class="content">
					<div class="text scroll-animate-list">
						<div class="h2 scroll-animate-item fade left-right">Furniture</div>
						<div class="p scroll-animate-item fade left-right">Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood</div>
						<div class="mini-button scroll-animate-item fade left-right">
							<div class="click">
								learn more
								<svg width="35" height="7">
									<polyline points="30 7,34 3.5,30 0" fill="none" stroke-width="1"/>
									<polyline points="0 3.5,34.5 3.5" class="shape-rendering-clip-edges" stroke-width="1" />
								</svg>
							</div>
						</div>
						<div class="number scroll-animate-item fade scale">01</div>
					</div>
					<div class="image scroll-animate fade right-left"></div>
					<div class="textFull parallax">Furniture</div>
				</div>
			</div>
		</div>
	</div>
	<div class="decor scroll-animate">
		<div class="letter parallax-horizontal right-left">D</div>
		<div class="inner">
			<div class="mid">
				<div class="content">
					<div class="image scroll-animate fade left-right"></div>
					<div class="text scroll-animate-list">
						<div class="h2 scroll-animate-item fade right-left">Decor</div>
						<div class="p scroll-animate-item fade right-left">We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable your premises.</div>
						<div class="mini-button scroll-animate-item fade right-left">
							<div class="click">
								learn more
								<svg width="35" height="7">
									<polyline points="30 7,34 3.5,30 0" fill="none" stroke-width="1"/>
									<polyline points="0 3.5,34.5 3.5" class="shape-rendering-clip-edges" stroke-width="1" />
								</svg>
							</div>
						</div>
						<div class="number scroll-animate-item fade scale">02</div>
					</div>
					<div class="textFull parallax">Decor</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quality scroll-animate">
		<div class="inner">
			<div class="letter parallax-horizontal right-left no-opacity">V</div>
			<div class="mid">
				<div class="scroll-animate-list">
					<div class="h2 scroll-animate-item fade bottom-top">wooder – is quality</div>
					<div class="p scroll-animate-item fade left-right">We create unique design objects made of rare wood, specially under the order. Look at the short video about our work.</div>
				</div>
				<div class="media">
					<div class="video scroll-animate fade left-right">
						<div class="view">
							<div class="image">
								<img src="images/video/video-1.png" alt="video 1">
							</div>
							<div class="play">
								<svg viewBox="0 0 22.8 25">
									<path d="M4,0.5C1.8-0.7,0,0.3,0,2.9v19c0,2.6,1.8,3.6,4,2.3l16.6-9.5c2.2-1.3,2.2-3.4,0-4.6L4,0.5z M4,0.5"/>
								</svg>
							</div>
						</div>
						<div class="name">Innovative Design</div>
					</div>
					<div class="video scroll-animate fade top-bottom">
						<div class="view">
							<div class="image">
								<img src="images/video/video-2.png" alt="video 2">
							</div>
							<div class="play">
								<svg viewBox="0 0 22.8 25">
									<path d="M4,0.5C1.8-0.7,0,0.3,0,2.9v19c0,2.6,1.8,3.6,4,2.3l16.6-9.5c2.2-1.3,2.2-3.4,0-4.6L4,0.5z M4,0.5"/>
								</svg>
							</div>
						</div>
						<div class="name">High-level Skills</div>
					</div>
					<div class="video scroll-animate fade right-left">
						<div class="view">
							<div class="image">
								<img src="images/video/video-3.png" alt="video 3">
							</div>
							<div class="play">
								<svg viewBox="0 0 22.8 25">
									<path d="M4,0.5C1.8-0.7,0,0.3,0,2.9v19c0,2.6,1.8,3.6,4,2.3l16.6-9.5c2.2-1.3,2.2-3.4,0-4.6L4,0.5z M4,0.5"/>
								</svg>
							</div>
						</div>
						<div class="name">Quality Products</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>