<div class="top">
	<header>
		<div class="menu">
			<div class="burger"></div>
			<div class="text">menu</div>
		</div>
		<div class="mid">
			<div class="logo">wooder</div>
			<div class="nav">
				<a href="">home</a>
				<a href="">products</a>
				<a href="">about</a>
			</div>
		</div>
		<div class="right">
			<div class="info">i</div>
			<div class="lang">
				<select id="lang">
					<option value="en">en</option>
					<option value="ru">ru</option>
				</select>
			</div>
		</div>
	</header>
	<div class="middle-container">
		<div class="left-num">
			<div class="line"></div>
			<div class="number">01</div>
			<div class="points">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="right-text parallax">
			furniture&nbsp;&nbsp;&nbsp;&amp;&nbsp;&nbsp;&nbsp;decor
		</div>
		<div class="middle">
			<div class="name-big">
				wooder
			</div>
			<div class="button learn-more">
				learn more
				<svg width="34" height="11">
					<polyline points="27 11,33 5.5,27 0" stroke="white" stroke-width="1"/>
					<polyline points="0 5.5,32.5 5.5" stroke="white" class="shape-rendering-clip-edges" stroke-width="1" />
				</svg>
			</div>
			<div class="vertical">
				<svg class="mouse" viewBox="0 0 217 333" width="20" height="30" >
					<path d="M119.9,0.6H94.3c-52.8,0-94.1,43-94.1,97.9v137c0,54.9,41.3,97.9,94.1,97.9h25.5c54,0,97.9-43.9,97.9-97.9v-137
						C217.7,44.5,173.8,0.6,119.9,0.6L119.9,0.6z M108,51.9h2c3.1,0,5.6,2.5,5.6,5.6v39.9c0,3.1-2.5,5.6-5.6,5.6h-2
						c-3.1,0-5.6-2.5-5.6-5.6V57.5C102.4,54.4,104.9,51.9,108,51.9L108,51.9z M204.9,235.5c0,46.9-38.2,85.1-85.1,85.1H94.3
						c-45.6,0-81.3-37.4-81.3-85.1v-137c0-47.7,35.7-85.1,81.3-85.1h8.2v26.5c-7.5,2.3-12.9,9.3-12.9,17.6v39.9
						c0,8.2,5.4,15.2,12.9,17.6v32.9c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4V115c7.6-2.3,13.1-9.3,13.1-17.6V57.5
						c0-8.3-5.5-15.3-13.1-17.6V13.4h4.6c46.9,0,85.1,38.2,85.1,85.1V235.5z M204.9,235.5" stroke="white" fill="white"/>
				</svg>
				<svg width="11" height="70" class="line">
					<polyline points="0 64,5.5 69.5,11 64" stroke="white" stroke-width="1"/>
					<polyline points="5.5 0,5.5 70" stroke="white" class="shape-rendering-clip-edges" stroke-width="1" />
				</svg>
				<div class="text">scroll</div>
			</div>
		</div>
	</div>
	<a class="share">
		<svg viewBox="0 0 19.2 20.8" xml:space="preserve" width="22" height="26">
			<path class="st0" d="M15.2,12.8c-1.4,0-2.7,0.7-3.4,1.8l-4.3-2.4C7.8,11.7,8,11.1,8,10.4C8,10,7.9,9.6,7.8,9.3l4.5-2.5
					C13,7.5,14,8,15.2,8c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4c0,0.4,0.1,0.8,0.2,1.1L6.9,7.7C6.2,6.9,5.2,6.4,4,6.4
					c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4c0.9,0,1.7-0.3,2.4-0.8l0,0l4.8,2.8c0,0.1,0,0.3,0,0.4c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4
					C19.2,14.6,17.4,12.8,15.2,12.8L15.2,12.8z M15.2,1.6c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4
					C12.8,2.7,13.9,1.6,15.2,1.6L15.2,1.6z M4,12.8c-1.3,0-2.4-1.1-2.4-2.4C1.6,9.1,2.7,8,4,8c1.3,0,2.4,1.1,2.4,2.4
					C6.4,11.7,5.3,12.8,4,12.8L4,12.8z M15.2,19.2c-1.3,0-2.4-1.1-2.4-2.4c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1.1,2.4,2.4
					C17.6,18.1,16.5,19.2,15.2,19.2L15.2,19.2z M15.2,19.2"/>
		
		</svg>
	</a>
</div>